body {
  margin : 0;
  padding : 0;
  font-family : sans-serif;
}


input[type = "checkbox"] {
  display : inline;
  width : auto;
}


.historyItem {
  list-style-type: none;
  margin : 10px;
  padding-top : 10px;
  padding-bottom: 10px;
  background-color:white;
}